body {
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
}

hr {
  background-color: transparent;
  border-style: dotted none none none;
  border-color: #05595b;
  border-width: 7px;
  width: 10%;
  padding: 15px;
}

h1 {
  margin: 50px 0 0 0;
  font-family: "Sacramento", cursive;
  color: #05595b;
  font-size: 90px;
  line-height: 2;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #05595b;
  font-weight: normal;
  font-size: 40px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #05595b;
  font-weight: bold;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.profile {
  width: 55%;
  margin: 30px auto 60px auto;
}

.top-container {
  background-color: #fad9e6;
  position: relative;
  padding-top: 30px;
  text-align: center;
}

.top-cloud {
  position: fixed;
  left: 900px;
  top: 20px;
}

.bottom-cloud {
  position: fixed;
  left: 200px;
  bottom: 300px;
}

.skill-row {
  width: 55%;
  margin: 10px auto;
  padding: 40px 0;
  text-align: left;
  line-height: 2;
}
.img-mountain {
  display: block;
  margin: 0 auto;
}

.img-profile {
  width: 300px;
  height: 300px;
  position: relative;
}

.img-left {
  float: left;
  width: 35%;
  margin-right: 30px;
}

.img-right {
  float: right;
  width: 35%;
  margin-left: 30px;
}

.bottom-container {
  margin: 20px 0 0 0;
  padding: 30px 0 0 0;
  background-color: #fad9e6;
  position: relative;
  text-align: center;
}

.footer-link {
  font-family: "Montserrat", sans-serif;
  color: #05595b;
  font-weight: normal;
  margin: 50px 50px 200px 50px;
  word-spacing: 2px;
}

.footer {
  padding: 20px 0 20px 0;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 10px;
  margin-bottom: 0;
}

a:link {
  text-decoration: None;
}

.btn {
  background-color: #05595b; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

.contact-me {
  width: 45%;
  position: relative;
  line-height: 30px;
  margin: auto;
}
